<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pro-Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="#" />
    <script src="#"></script>
</head>
<body>
        <div style="background-color:rgba(80, 95, 45, 0.438); color:white;">
            <h2> Pro-Tracker</h2>
            <h4> Welcome to Pro-Tracker</h4>
            <p> an api service for managing maintenance and rpair requests</p>
            <br>
        </div>

</body>
</html>